
.nav{
   display: flex;
   margin-left: 12px;
   margin-top: 35px;
}

.navbox{
   width: 126px;
   height: 65px;
   border-radius: 100px;
}

.datebox{
   margin-left: 15%;
   margin-top: 10%;

}

.daybox{
   margin-left: 15%;
   margin-top: 5%;
   font-size: 20px;
}

.navboxselected{
   background-color: black;
   color: white;
   width: 126px;
   height: 65px;
   border-radius: 100px;
}
