.subjects{
   height: 414px;
   width: 100%;

}
.subjectbox{
   width: 412px;
   height: 238px;
   border-radius: 25px;
   margin-top: 22px;
}

.subjectbox ul li{
   list-style-type: none;
   width: 350px;
   height: 77px;
   border: #ed334d 3px solid;
   margin-left: -10px;
   border-radius: 50px;
   margin-top: 25px;
}


.subjectbox li span{
   display: block;
   margin-left: 55px;
   margin-top: 25px;
   font-size: 20px;
   color: #ed334d;
}
